<h1>
<%= t('articles.buttons.edit')%>
</h1>
  <div class='col-10 offset-1'>
    <%= render "form", article: @article %>
  </div>
  
<br>

<div>
  <%= link_to t('buttons.all_articles'), articles_path %>
</div>
